<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import { mdiStar, mdiCursorDefaultClickOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col
        ><FancyButton
          ><v-icon :icon="mdiStar" />Star
          <template v-slot:tail>Tail</template>
        </FancyButton>
      </v-col>
      <v-col
        ><FancyButton>
          <template #tail
            ><v-icon :icon="mdiCursorDefaultClickOutline" />Cilck Me</template
          ></FancyButton
        ></v-col
      >
    </v-row>
  </v-container>
</template>
