<script setup lang="ts"></script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="auto" rounded="0">
          <v-img
            height="300px"
            cover
            src="https://i.pinimg.com/564x/97/04/a3/9704a3edf038940e01dae3d438eb71f0.jpg"
          >
            <v-avatar color="grey" size="150" rounded="0">
              <v-img
                cover
                src="https://reg.buu.ac.th/registrar/getstudentimage.asp?id=64160246"
              ></v-img>
            </v-avatar>
            <v-list-item
              class="text-white"
              title="Nannapat Sonsupap"
              subtitle="นางสาวนันท์ณภัทร สอนสุภาพ"
            ></v-list-item>
          </v-img>
        </v-card>
      </v-col>
      <v-col>
        <h1>ประวัติการศึกษา</h1>
        <v-table>
          <thead>
            <tr>
              <th class="text-left">ระดับชั้น</th>
              <th class="text-left">โรงเรียน</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ชั้นประถมศึกษาปีที่ 1-6</td>
              <td>โรงเรียนเมืองเลย</td>
            </tr>
            <tr>
              <td>ชั้นมัธยมศึกษาปีที่ 1-6</td>
              <td>โรงเรียนเลยพิทยาคม</td>
            </tr>
            <tr>
              <td>ปัจจุบันกำลังศึกษาระดับชั้นปริญญาตรีปีที่ 2</td>
              <td>มหาวิทยาลัยบูรพา</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
  <v-container>
    <h2 style="text-align: center">สิ่งที่สนใจ</h2>
    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="344">
          <v-img
            src="https://play-lh.googleusercontent.com/soW5gzaeWu3oSWJB0dEge4R3EfTy9ae8z3poF0PVXTsKy2D3T3NyOBosAOCAmDeYIASb=w240-h480-rw"
            height="200px"
          ></v-img>

          <v-card-title> อ่านนิยาย </v-card-title>

          <v-card-subtitle> งานอดิเรก </v-card-subtitle>

          <v-expand-transition>
            <v-card-text>
              ในช่วงเวลาว่างจะสนใจในการอ่านนิยายเพื่อความผ่อนคลายและความบันเทิง
            </v-card-text>
          </v-expand-transition>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="mx-auto" max-width="344">
          <v-img
            src="https://play-lh.googleusercontent.com/P2VMEenhpIsubG2oWbvuLGrs0GyyzLiDosGTg8bi8htRXg9Uf0eUtHiUjC28p1jgHzo=w240-h480-rw"
            height="200px"
          ></v-img>

          <v-card-title> ฟังเพลง </v-card-title>

          <v-card-subtitle> งานอดิเรก </v-card-subtitle>

          <v-expand-transition>
            <v-card-text>
              ชอบฟังเพลงในเวลาว่างๆหรือในเวลาที่ทำงานเพื่อความผ่อนคลายและเพื่อไม่ให้ห้องมีความเงียบ
            </v-card-text>
          </v-expand-transition>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="mx-auto" max-width="344">
          <v-img
            src="https://i.pinimg.com/564x/f6/97/4e/f6974e017d3f6196c4cbe284ee3eaf4e.jpg"
            height="200px"
          ></v-img>

          <v-card-title> ดูหนัง </v-card-title>

          <v-card-subtitle> งานอดิเรก </v-card-subtitle>

          <v-expand-transition>
            <v-card-text>
              จะดูหนังในช่วงที่ไม่มีอะไรทำหรือไม่มีงานที่ต้องทำเพื่อผ่อนคลายในช่วงที่ทำงานหนักหรือในช่วงที่ไม่ค่อยมีเวลาว่าง
            </v-card-text>
          </v-expand-transition>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
