<script setup lang="ts">
import { ref, computed } from "vue";
import FramworkPop from "@/components/FramworkPop.vue";
const framelist = ref([
  {
    name: "Vue JS",
    img: "https://upload.wikimedia.org/wikipedia/commons/9/95/Vue.js_Logo_2.svg",
    rating: 10,
  },
  {
    name: "Angular JS",
    img: "https://miro.medium.com/max/750/1*15CYVZdpsxir8KLdxEZytg.webp",
    rating: 10,
  },
  {
    name: "React JS",
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png",
    rating: 10,
  },
]);
function changeRating(index: number, rating: number) {
  console.log("action " + index + " :" + rating);
  framelist.value[index].rating = rating;
}

const orderList = computed(() => {
  return [...framelist.value].sort((n1, n2) => n2.rating - n1.rating);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of framelist" :key="index">
        <FramworkPop
          :name="item.name"
          :img="item.img"
          :rating="item.rating"
          :index="index"
          @change="changeRating"
        ></FramworkPop>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of framelist" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
